$primary: #252B40;
$link-active: #FEC017;
$link-primary: #fff;
$primary-text: #fff;

$primary-gradient-horisontal: linear-gradient(-90deg, rgba(37, 43, 64, 0) 0%, rgba(37, 43, 64, .3) 20%, rgba(37, 43, 64, 1) 100%);
$primary-gradient-vertical: linear-gradient(0, rgba(37, 43, 64, 0) 0%, rgba(37, 43, 64, .3) 20%, rgba(37, 43, 64, 1) 100%);

$theme-light-background: #fff;
$theme-light-text: #000;
$theme-light-link: cornflowerblue;

$theme-dark-background: #000;
$theme-dark-text: #fff;
$theme-dark-link: deepskyblue;

html,
body {
    height: 100%;
}

body {
    background: $theme-light-background;
    color: $theme-light-text;
    font: 20px/24px 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @media (prefers-color-scheme: dark) {
        & {
            color: $theme-dark-text;
            background: $theme-dark-background;
        }
    }
}

a {
    color: $theme-light-link;
    text-decoration: underline;
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
        & {
            color: $theme-dark-link;
        }
    }
}


h1,
h2 {
    margin: 20px 0 0 ;
    padding: 0
}

h1:first-child,
h2:first-child {
    margin-top: 0;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: normal;
    opacity: 0.7;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.header,
.footer {
    background: $primary;
    color: $primary-text;
}

.header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__heading {
        margin: 0;
        padding: 20px;
        box-sizing: border-box;

        @media screen and (max-width: 767px) {
            & {
                width: 100%;;
            }
        }
    }

    @media screen and (max-width: 767px) {
        & {
            flex-direction: column;
        }

        & .searchbar {
            order: 0
        }
    
        &__heading {
            order: 1;
            padding-bottom: 0;
        }
    
        & .navigation {
            order: 2
        }
    }

    
}

.footer {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.searchbar {
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    box-sizing: border-box;

    @media screen and (max-width: 767px) {
        & {
            width: 100%;
            padding: 0;
            order: 0;
        }
    } 

    svg {
        left: 36px;
        position: absolute;
        z-index: 1;

        @media (prefers-color-scheme: dark) {
            & path {
                fill: $theme-dark-text;
            }
        }

        @media screen and (max-width: 767px) {
            & {
                left: 16px;
            }
        } 
    }

    &__input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        font-size: 16px;
        line-height: 24px;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 0;

        @media (prefers-color-scheme: dark) {
            & {
                background: $theme-dark-background;
                color: $theme-dark-text;
            }
        }

        @media screen and (max-width: 767px) {
            & {
                width: 100%;
            }
        } 
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 75px;
    width: 100%;
    box-sizing: border-box;

    &__link {
        color: white;
        text-decoration: none;
        padding: 10px;
        display: block;

        &--active {
            color: $link-active;
        }
    }

    &__list--visible {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    &__list--visible &__item {
        display: inline-block;
        white-space: nowrap;
    }

    @media screen and (max-width: 768px) {
        &__list--visible > &__item:hover:after  {
            content: '';
            display: block;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }

    &__list--invisible:empty {
        display: none;
    }

    &__list--invisible {
        display: none;
        flex-direction: column;
        background: rgba(37, 43, 64, .9);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        @media screen and (max-width: 768px) {
            & {
                position: fixed;
                top: 211px;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                margin: 0;
                overflow: scroll;
            }
        }
    }

    &__item--more {
        width: 220px;

        @media screen and (max-width: 768px) {
            & {
                width: 120px;
            }
        }
    }

    &__item:hover &__list--invisible  {
        display: flex;
    }

    &:hover &__link.active {
        color: $link-primary;
    }

    &:hover &__link--active:hover {
        color: $link-active;
    }
    
    &__item:hover > &__link {
        color: $link-active;
    }
    
    &:hover &__list--invisible &__link--active {
        color: $link-active;
    }
    
    &:hover &__list--invisible:hover &__link--active {
        color: $link-primary;
    }
}

.events  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1rem), 1fr));
    gap: 1rem;
    padding: 1rem;

    @media screen and (min-width: 768px) {
        &  {
            grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
        }
    }

    @media screen and (min-width: 1200px) {
        &  {
            grid-template-columns: repeat(auto-fill, minmax(calc(20% - 1rem), 1fr));
        }
    }    
    
}

.event {
    margin: 0;
    padding: 0;

    &__link {
        display: block;
    }

    &[data-selected="yes"] &__link:after {
        content: '';
        display: block;
        width: 0; 
        height: 0; 
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        
        border-bottom: 16px solid $primary;;
        margin: 5px auto 0;
    }

    &__image {
        width: 100%;
        display: block;
    }
}

.eventdetails {
    display: flex;
    justify-content: space-between;
    background: $primary;
    color: $primary-text;

    &__details {
        padding: 20px;
    }

    &__figure {
        position: relative;
        padding: 0;
        margin: 0;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100px;
            background: $primary-gradient-horisontal;
        }
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__list {
        list-style: none;
        padding: 0;
    }
    
    &__list svg path {
        fill: $primary-text;
    }

    @media screen and (max-width: 767px) {
        & {
            flex-direction: column;
        }
    
        & p {
            word-break: break-all;
        }
    
        &__figure:before {
            width: auto;
            height: 100px;
            right: 0;
            bottom: auto;
            background: $primary-gradient-vertical;
        }
    }

    @media screen and (max-width: 767px) {
        & {
            width: calc(300% + 2rem);
        }

        .event:first-child &,
        .event:nth-child(3n+4) & {
            margin-left: 0;
        }
    
        .event:nth-child(2) &,
        .event:nth-child(3n+5) & {
            margin-left: calc(-100% - 1rem);
        }
    
        .event:nth-child(3) &,
        .event:nth-child(3n+6) & {
            margin-left: calc(-200% - 2rem);
        }
    }

    @media screen and (min-width: 768px) {
        & {
            width: calc(400% + 3rem);
        }

        .event:first-child &,
        .event:nth-child(4n+5) & {
            margin-left: 0;
        }
    
        .event:nth-child(2) &,
        .event:nth-child(4n+6) & {
            margin-left: calc(-100% - 1rem);
        }
    
        .event:nth-child(3) &,
        .event:nth-child(4n+7) & {
            margin-left: calc(-200% - 2rem);
        }
    
        .event:nth-child(4) &,
        .event:nth-child(4n+8) & {
            margin-left: calc(-300% - 3rem);
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            width: calc(500% + 4rem);
        }
        .event:first-child &,
        .event:nth-child(5n+6) & {
            margin-left: 0;
        }
    
        .event:nth-child(2) &,
        .event:nth-child(5n+7) & {
            margin-left: calc(-100% - 1rem);
        }
    
        .event:nth-child(3) &,
        .event:nth-child(5n+8) & {
            margin-left: calc(-200% - 2rem);
        }
    
        .event:nth-child(4) &,
        .event:nth-child(5n+9) & {
            margin-left: calc(-300% - 3rem);
        }
    
        .event:nth-child(5) &,
        .event:nth-child(5n+10) & {
            margin-left: calc(-400% - 4rem);
        }
    }
}

.loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        display: inline-block;

        &-spinner {
            display: inline-block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            background: $link-active;
            animation: loading 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }
    }
}

@keyframes loading {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}
